@{
    ViewBag.Title = "Home Page";
}

<div class="center">
    <div>
        <h1>This is simple web application to see the stock of some company.</h1>
    </div>
    <div>
        <h2 class="button_main">@Html.ActionLink("See the stock", "Index", "StockExchanges")</h2>
    </div>

</div>